In [1]:
import urllib

In [19]:
def get_dmy(date):
  date = date.split(".")
  return date[0], date[1], date[2]

def get_period_num(s):
  time_period = {
    "tick": 1,
    "min": 2,
    "5 min": 3,
    "10 min": 4,
    "15 min": 5,
    "30 min": 6,
    "hour": 7,
    "day": 8,
    "week": 9,
    "month": 10
  }
  return time_period[s]

In [149]:
def quotes(code,
           yf, month_start, day_start,
           yt, month_end, day_end,
           market,
           em,
           p):

# ----------------------------------------------------------------------------------------------------------------------------------
  # HARDCODE VARIBLES

  e = '.csv' # формат файла txt/csv

  dtf = '4' # формат даты (1 — ггггммдд, 2 — ггммдд, 3 — ддммгг, 4 — дд/мм/гг, 5 — мм/дд/гг)
  tmf = '1' # формат времени (1 — ччммсс, 2 — ччмм, 3 — чч: мм: сс, 4 — чч: мм)
  MSOR = '1' # выдавать время (0 — начала свечи, 1 — окончания свечи)
  mstimever = '1' # выдавать время (НЕ московское — mstimever=0; московское — mstime='on', mstimever='1')

  sep = '1' # параметр разделитель полей (1 — запятая (,), 2 — точка (.), 3 — точка с запятой (;), 4 — табуляция (»), 5 — пробел ( ))
  sep2 = '1' # параметр разделитель разрядов (1 — нет, 2 — точка (.), 3 — запятая (,), 4 — пробел ( ), 5 — кавычка ('))

  datf = '1' # Перечень получаемых данных (
      #1 — TICKER, PER, DATE, TIME, OPEN, HIGH, LOW, CLOSE, VOL;
      #2 — TICKER, PER, DATE, TIME, OPEN, HIGH, LOW, CLOSE;
      #3 — TICKER, PER, DATE, TIME, CLOSE, VOL;
      #4 — TICKER, PER, DATE, TIME, CLOSE;
      #5 — DATE, TIME, OPEN, HIGH, LOW, CLOSE, VOL;
      #6 — DATE, TIME, LAST, VOL, ID, OPER).

  at = '1' # добавлять заголовок в файл (0 — нет, 1 — да)
# ----------------------------------------------------------------------------------------------------------------------------------
  mf = (int(month_start.replace('0', ''))) - 1
  mt = (int(month_end.replace('0', ''))) - 1

  df = (int(day_start.replace('0', ''))) - 1
  dt = (int(day_end.replace('0', ''))) - 1

  year_start = yf[2:]
  year_end = yt[2:]
# ----------------------------------------------------------------------------------------------------------------------------------

  page = urllib.request.urlopen(
        'http://export.finam.ru/' +
        str(code) + '_' +
        str(year_start) + str(month_start) + str(day_start) + '_' +
        str(year_end) + str(month_end) + str(day_end) +
        str(e) +

        '?market=' + str(market) +
        '&em=' + str(em) +
        '&code=' + str(code) +
        '&apply=0&df=' + str(df) +
        '&mf=' + str(mf) +
        '&yf=' + str(yf) +

        '&from=' + str(day_start) + '.' + str(month_start) + '.' + str(yf) +
        '&dt=' + str(dt) + '&mt=' + str(mt) + '&yt=' + str(yt) +
        '&to=' + str(day_end) + '.' + str(month_end) + '.' + str(yt) +

        '&p=' + str(p) +
        '&f=' + str(code) + '_' +
        str(year_start) + str(month_start) + str(day_start) + '_' +
        str(year_end) + str(month_end) + str(day_end) +

        '&e=' + str(e) +
        '&cn=' + str(code) +
        '&dtf=' + str(dtf) +
        '&tmf=' + str(tmf) +
        '&MSOR=' + str(MSOR) +
        '&mstimever=' + str(mstimever) +

        '&sep=' + str(sep) +
        '&sep2=' + str(sep2) +

        '&datf=' + str(datf) +
        '&at=' + str(at))

  f = open(f'./data_ticker/{code}_from_{yf}_{month_start}_{day_start}_to_{yt}_{month_end}_{day_end}.csv', "wb")
  content = page.read()
  f.write(content)
  f.close()


  # if len(content) > 100:
  #   # print("OK")
  #   pass
  # else:
  #   print("ERROR FOR " + f'{code}_from_{yf}_{month_start}_{day_start}_to_{yt}_{month_end}_{day_end}.csv')

In [146]:
def get_stocks_info(ticker, em,  market, period, date_start, date_end):
  date_start = get_dmy(date_start)
  day_start = date_start[0]
  month_start = date_start[1]
  yf = date_start[2]

  date_end = get_dmy(date_end)
  day_end = date_end[0]
  month_end = date_end[1]
  yt = date_end[2]

  p = get_period_num(period)

  quotes(code, yf, month_start, day_start, yt,month_end, day_end, market, em, p)

In [150]:
code = 'YNDX' # тикер
em = '388383' # символьная переменная по инструменту (id тикета)
market = '1' # требует сбора - то где торгуется (инструмент) 1 - МосБиржа акции
period = 'day' # период котировок (тики, 1 мин., 5 мин., 10 мин., 15 мин., 30 мин., 1 час, 1 день, 1 неделя, 1 месяц)

date_start = "20.12.2023"
date_end = "20.12.2024"

get_stocks_info(code, em, market, period, date_start, date_end)

In [143]:
import pandas as pd

# pd.read_csv('./data_ticker/YNDX_from_2017_05_20_to_2017_06_20.csv')

In [139]:
df = pd.read_parquet('clear_tikers.parquet')

In [140]:
df

,em,_company_name,link,ticker,market_id,market_name,pref
0,29,Аэрофлот,https://www.finam.ru/quote/moex/aflt/,AFLT,1.0,МосБиржа акции,False
1,19043,ВТБ ао,https://www.finam.ru/quote/moex/vtbr/,VTBR,1.0,МосБиржа акции,False
2,16842,ГАЗПРОМ ао,https://www.finam.ru/quote/moex/gazp/,GAZP,1.0,МосБиржа акции,False
3,795,ГМКНорНик,https://www.finam.ru/quote/moex/gmkn/,GMKN,1.0,МосБиржа акции,False
4,8,ЛУКОЙЛ,https://www.finam.ru/quote/moex/lkoh/,LKOH,1.0,МосБиржа акции,False
...,...,...,...,...,...,...,...
236,2655082,GEMC-гдр,https://www.finam.ru/quote/moex/gemc/,GEMC,1.0,МосБиржа акции,False
237,83261,КурганГКао,https://www.finam.ru/quote/moex/kgkc/,KGKC,1.0,МосБиржа акции,False
238,2314364,БСП ап,https://www.finam.ru/quote/moex/bspbp/,BSPBP,1.0,МосБиржа акции,True
239,81891,СаратНПЗ,https://www.finam.ru/quote/moex/krkn/,KRKN,1.0,МосБиржа акции,False
240,2877923,VEON,https://www.finam.ru/quote/moex/veon-rx/,VEON-RX,1.0,МосБиржа акции,False

In [18]:
from tqdm import tqdm
import time

In [153]:
# ['29' 'Аэрофлот' 'https://www.finam.ru/quote/moex/aflt/' 'AFLT' 1.0' 'МосБиржа акции' False]
 
date_start = "20.12.2022"
date_end = "20.12.2023"
period = 'day' # период котировок (тики, 1 мин., 5 мин., 10 мин., 15 мин., 30 мин., 1 час, 1 день, 1 неделя, 1 месяц)
# market = '1'

# for i in tqdm(df.values):
for i in tqdm(df[df.index > (78 + 112)].values):
    code    = i[3]
    em      = i[0]
    market  = i[4]

    get_stocks_info(code, em,  market, period, date_start, date_end)
    # time.sleep(10) # Delay for 1 minute

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [00:33<00:00,  1.47it/s]

In [190]:
import os
 
# Указываем путь к директории
directory = "./data_ticker"
 
# Получаем список файлов
files = os.listdir(directory)
 
# Выводим список файлов
files = files[1:]

In [191]:
tickers = []

for i in files:
    tickers.append(i.split('_')[0])

# tickers

In [192]:
data = {'ticker': tickers, 'file': files}
df_files = pd.DataFrame(data)
df_files.to_parquet('tickers_files.parquet')

In [193]:
df_files

    ticker                                     file
0     ABIO   ABIO_from_2022_12_20_to_2023_12_20.csv
1     ABRD   ABRD_from_2022_12_20_to_2023_12_20.csv
2     AFKS   AFKS_from_2022_12_20_to_2023_12_20.csv
3     AFLT   AFLT_from_2022_12_20_to_2023_12_20.csv
4     AGRO   AGRO_from_2022_12_20_to_2023_12_20.csv
..     ...                                      ...
225   YNDX   YNDX_from_2022_12_20_to_2023_12_20.csv
226  YRSBP  YRSBP_from_2022_12_20_to_2023_12_20.csv
227   YRSB   YRSB_from_2022_12_20_to_2023_12_20.csv
228   ZILL   ZILL_from_2022_12_20_to_2023_12_20.csv
229   ZVEZ   ZVEZ_from_2022_12_20_to_2023_12_20.csv

[230 rows x 2 columns]

In [194]:
df_files.values[0]

array(['ABIO', 'ABIO_from_2022_12_20_to_2023_12_20.csv'], dtype=object)

In [195]:
pd.read_csv(directory + '/' + df_files.values[0][1]).head(3)

  <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>   <VOL>
0     ABIO     D  02/12/22       0   65.74   66.90  65.42    66.10  197220
1     ABIO     D  03/12/22       0   66.22   66.48  65.02    65.24   97380
2     ABIO     D  06/12/22       0   65.30   65.78  64.54    65.00  160160

# Генерим таргет как рост за 10 дней

In [196]:
for file in tqdm(df_files.values):
    tickers_data_df = pd.read_csv(directory + '/' + file[1])
    tickers_data_df['TARGET'] = None

    for i in range(tickers_data_df.shape[0] - 10):
        tickers_data_df.loc[i, 'TARGET'] = tickers_data_df.loc[i + 10, '<CLOSE>']  -  tickers_data_df.loc[i, '<OPEN>'] 
        tickers_data_df.to_csv('./target_data/' + file[1])

100%|████████████████████████████████████████████████████████████████████████████████| 230/230 [02:00<00:00,  1.91it/s]

In [205]:
tickers_data_df = pd.read_csv('./target_data/' + df_files.values[0][1])

In [208]:
tickers_data_df

,Unnamed: 0,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,TARGET
0,0,ABIO,D,02/12/22,0,65.74,66.90,65.42,66.10,197220,-5.24
1,1,ABIO,D,03/12/22,0,66.22,66.48,65.02,65.24,97380,-5.22
2,2,ABIO,D,06/12/22,0,65.30,65.78,64.54,65.00,160160,-5.18
3,3,ABIO,D,07/12/22,0,65.12,68.40,65.04,65.82,634920,-4.82
4,4,ABIO,D,08/12/22,0,66.04,66.18,65.14,65.40,61620,-4.76
...,...,...,...,...,...,...,...,...,...,...,...
251,251,ABIO,D,28/11/23,0,97.02,99.10,95.00,97.78,252440,NaN
252,252,ABIO,D,29/11/23,0,97.78,98.80,95.90,96.90,158810,NaN
253,253,ABIO,D,30/11/23,0,97.02,97.36,96.00,96.42,66320,NaN
254,254,ABIO,D,01/12/23,0,96.56,96.96,95.24,96.16,84080,NaN
255,255,ABIO,D,02/12/23,0,96.08,97.00,95.12,97.00,162820,NaN